@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';





form{
  width: 100%;

  .hidden{
    visibility: collapse;
  }
  .show{
    visibility: visible;
  }
}

textarea, label, input{
  margin-bottom: 5px;
}

#ctaDark{
  background-color: darken(transparentize(_palette(bg), 0.1), 0.5);
}

.actions{
  align-items: flex-end;
}
